[submodule "bgfx"]
	path = bgfx
	url = https://github.com/xitrix/bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/xitrix/bx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/xitrix/bimg.git
